<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/thankyou.css">
    <title>Thank You Section</title>
</head>
<body>
    <div class="thank-you-container">
        <h2>Thank You</h2>
        <p>If you liked this project, then give it a <span>👍</span></p>
        <p>Don’t forget to share your reviews in the comment section.</p>
    </div>
    <div class="footer-banner">
        <p>Get More Premium & High Quality Designs For <span class="free-tag">FREE</span></p>
        <p><a href="#">Get’em From Our Community</a></p>
    </div>
</body>
</html>
